@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,400&display=swap");

body {
  margin: 0;
  font-family: "Montserrat";
}

:root {
  --success: #1b9c1c;
  --error: #cf1414;
  --primary: #1fa83c;
  --dark: #0000009e;
  --grey: #d4d4d4;
  --blue: #39aac7;
}
